@import '../../App.scss';

.country-item {
   padding-bottom: 40px;
   // border: 1px solid #333;

   // Tablet
   @media only screen and (min-width: 700px) {
      width: 43%;
      padding: 18px;
      // border: 1px solid red;
   }

   @media only screen and (min-width: 900px) {
      width: 33%;
      padding: 40px;
   }

   // Desktop
   @media only screen and (min-width: 1024px) {
      width: 25%;
   }

   // ANCHOR TAG
   .country-inner {
      box-shadow: 0 0 10px 2px rgba(204, 204, 204, 0.4);
      text-decoration: none;
      display: block;
      color: #333;
      border-radius: 5px;
      flex: 1 0 auto;
      border: 1px solid #ccc;

      // border: 1px solid #ed4337;
      &:focus {
         outline: 3px dotted $focus-red;
         outline-offset: 3px;
      }
   }
   img {
      width: 100%;
      border-radius: 5px 5px 0 0;
      border: 1px solid #ccc;
   }
   .text-wrap {
      padding: 24px 24px 46px 24px;
   }
   h2 {
      font-size: 1.25em;
      margin-bottom: 16px;
   }
   p + p {
      margin-top: 8px;
   }
   p span {
      font-weight: 600;
   }
}


// .backimg {
//    padding-bottom: 70%;
//    background-size: cover;
//    background-position: center;
//    img {
//       visibility: hidden;
//    }
// }