@import '../../App.scss';
.header {
   align-items: center;
   justify-content: space-between;
   padding: 30px 16px;
   box-shadow: 0 2px 4px #ccc;
   h1 {
      font-size: 1em;
      margin: 0;
   }
   .toggle-darkmode-btn {
      border: none;
      background: none;
      font-size: 1em;
      padding: 0;
      &:hover {
         cursor: pointer;
      }
      .far {
         margin-right: 10px;
      }
   }
}


.darkmode .header {
   background-color: $dark-background-light;
   h1 {
      color: $dark-text-color;

   }
   .toggle-darkmode-btn {
      color: $dark-text-color;
      .far {
      }
   }
}

.radio-wrap {
   // padding-left: 25px;
   // padding-right: 25px;
   padding: 0 28px;
   // border: 1px solid black;
   position: relative;
   display: flex;
   align-items: center;
}

// .radio-wrap-inner {
//    border: 2px solid #202c36;
//    // position: relative;
//    width: 80px;
//    height: 35px;
//    border-radius: 20px;
//    padding: 2px;
//    display: flex;
//    justify-content: space-between;
   .far {
      font-size: 1.25em;
      // position: absolute;
      // top: 50%;
      // transform: translateY(-50%);
      // &.fa-moon {
      //    right: 0;
      // }
      // &.fa-sun {
      //    left: 0;
      // }
   }

   input:focus + label {
      color: red;
   }
   label:hover {
      cursor: pointer;
   }
   
   input#radio-light {
      position: absolute;
      // left: -50px;
      left: -99999px;
      &:checked ~ .circle-wrap .circle {
         // background: blue;
      }
      &:focus + label {
         color: red;
      }
   }
   #radio-light + label {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
   }

   input#radio-dark {
      position: absolute;
      // right: 0;
      // left: -30px;
      left: -99999px;
      &:checked ~ .circle-wrap .circle {
         // background: indianred;
         transform: translateX(140%);
      }
      &:focus + label {
         color: red;
      }
   }
   #radio-dark + label {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
   }

   .circle-wrap {
      width: 80px;
      height: 35px;
      border: 1px solid #202c36;
      border-radius: 20px;
      padding: 4px;
      display: inline-block;
      box-shadow: 0 0 5px -1px #000 inset;
   }

   .circle {
      background: $dark-background-light;
      height: 100%;
      width: 28px;
      border-radius: 20px;
      border: none;
      display: inline-block;
      transition: transform .4s ease-out;
   }
// }

.App .darkmode {
   .far {
      color: #fff;
   }
   .circle-wrap {
      border-color: #fff;
      box-shadow: 0 0 5px -1px #fff inset;
   }
   .circle {
      background: #fff;
   }
}

