@import '../../App.scss';

.header {
   align-items: center;
   justify-content: space-between;
   padding: 22px 16px;

   .title {
      font-size: 1.25em;
      margin: 0;
      a {
         text-decoration: none;
         color: $black;
         &:focus {
            @include focus-style;
         }
      }
   }
   .construction {
      color: #ed4337;
   }
   .vexillology {
      font-size: .925em;
      font-weight: 400;
      span {
         display: block;
      }

      @media only screen and (min-width: 700px) {
         span {
            display: inline;
         }
         .definition:before {
            content: " - ";
         }
      }
   }
   .toggle-darkmode-btn {
      border: none;
      background: none;
      font-size: 1em;
      padding: 0;
      &:hover {
         cursor: pointer;
      }
      .far {
         margin-right: 10px;
      }
   }
}

// ===== DARKMODE =====
.App .darkmode {
   .header {
      background-color: $darkmode-background-light;
      .title a {
         color: $darkmode-text-color;
      }
      .vexillology {
         color: $darkmode-text-color;
      }
   }
   // .input-circle-wrap {
   //    border-color: #fff;
   // }
   // .far {
   //    color: #fff;
   // }
   // .circle {
   //    background-color: rgb(88, 166, 255);
   // }
   .toggle-dark-wrap {
      .slider {
         border-color: #eee;
         // box-shadow: inset 0 0 6px #fff;
      }
   }

}




.radio-wrap {
   margin-right: 20px;
   .inner-wrap {
      display: flex;
      align-items: center;
   }
}

.input-circle-wrap {
   border: 2px solid #333;
   border-radius: 20px;
   width: 60px;
   height: 30px;
   display: flex;
   // justify-content: flex-start;
   position: relative;
   // transition: flex-start 1.5s ease-out;

   .circle {
      background-color: #ed4337;
      position: absolute;
      border-radius: 20px;
      width: 26px;
      height: 20px;
      top: 50%;
      transform: translate(6%, -50%);
      transition: transform .3s ease-out, background-color 100ms linear;
   }

   input {
      position: absolute;
      opacity: 0;
      margin: 0;
      top: -2px;
      width: 30px;
      height: 30px;
      &:hover {
         cursor: pointer;
      }
      &:focus + label {
         @include focus-style;
         outline-offset: -2px;
      }
   }
   #light {
      left: 0;
   }
   #light:checked ~ .circle {
      transform: translate(6%, -50%);
   }
   #dark:checked ~ .circle {
      transform: translate(106%, -50%);
   }
   #dark {
      right: 0;
   }

   label {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      .far {
         font-size: 1.4em;
         margin: 0 6px;
      }
   }
   .for-light {
      left: -36px;
   }
   .for-dark {
      right: -34px;
   }
}



// .toggle-dark-wrap {
//    border: 2px solid red;
//    input:checked + .slider:before {
//       transform: translateX(70%);
//    }
//    .slider {
//       width: 60px;
//       height: 34px;
//       position: relative;
//       background: #333;
//       border-radius: 20px;
//       display: inline-flex;
//       align-items: center;
//       padding: 4px;
//       &:before {
//          content: '';
//          display: inline-block;
//          width: 30px;
//          height: 24px;
//          position: absolute;
//          // background: #ccc;
//          border: 2px solid #ed4337;
//          border-radius: 20px;
//          transform: translateX(0);
//          transition: transform 1s ease-out;
//       }
//    }
// }

.toggle-dark-wrap {
   position: relative;
   input {
      position: absolute;
      left: -99999px;
   }
   input:checked + .slider:before {
      transform: translateX(130%);
      content: '\f186';
      color: gold;
      background: #9046a0;
   }
   .slider {
      width: 70px;
      height: 37px;
      position: relative;
      border: 2px solid #333;
      border-radius: 20px;
      display: inline-flex;
      align-items: center;
      // box-shadow: inset 0 0 4px #000000;

      &:before {
         content: '\f185';
         font-family: 'Font Awesome 5 Free';
         font-weight: 900;
         color: #f5c050;
         background: #0288d1;
         display: inline-block;
         font-size: 1.2em;
         // width: 30px;
         // height: 24px;
         // position: absolute;
         padding: 2px 4px;
         border-radius: 20px;
         transform: translateX(10%);
         transition: transform .5s ease-out;
      }
   }
}