@import '../../App.scss';

.header {
   align-items: center;
   justify-content: space-between;
   padding: 30px 16px;
   box-shadow: 0 2px 4px #ccc;
   h1 {
      font-size: 1.25em;
      margin: 0;
      a {
         text-decoration: none;
         color: $black;
         &:focus {
            @include focus-style;
         }
      }
   }
   .toggle-darkmode-btn {
      border: none;
      background: none;
      font-size: 1em;
      padding: 0;
      &:hover {
         cursor: pointer;
      }
      .far {
         margin-right: 10px;
      }
   }
}


.darkmode .header {
   background-color: $darkmode-background-light;
   h1 {
      color: $darkmode-text-color;

   }
   .toggle-darkmode-btn {
      color: $darkmode-text-color;
   }
}

.radio-wrap {
   padding: 0 28px;
   position: relative;
   display: flex;
   align-items: center;
}

.far {
   font-size: 1.25em;
}

input:focus + label {
   @include focus-style;
}
label:hover {
   cursor: pointer;
}

input#radio-light {
   position: absolute;
   left: -99999px;
   &:checked ~ .circle-wrap .circle {
   }
   &:focus + label {
      @include focus-style;
   }
}
#radio-light + label {
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
}

input#radio-dark {
   position: absolute;
   left: -99999px;
   &:checked ~ .circle-wrap .circle {
      transform: translateX(140%);
   }
   &:focus + label {
      @include focus-style;
   }
}
#radio-dark + label {
   position: absolute;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
}

.circle-wrap {
   width: 80px;
   height: 35px;
   border: 1px solid $darkmode-background-dark;
   border-radius: 20px;
   padding: 4px;
   display: inline-block;
   box-shadow: 0 0 5px -1px $black inset;
}

.circle {
   background: $darkmode-background-light;
   height: 100%;
   width: 28px;
   border-radius: 20px;
   border: none;
   display: inline-block;
   transition: transform .4s ease-out;
}

// ===== DARKMODE =====
.App .darkmode {
   .header {
      h1 a {
         color: #fff;
      }
   }
   .far {
      color: #fff;
   }
   .circle-wrap {
      border-color: #fff;
      box-shadow: 0 0 5px -1px #fff inset;
   }
   .circle {
      background: #fff;
   }
}

