$dark-background-dark: #202c36;
$dark-background-light: #2b3844;
$dark-text-color: #fff;

*, *:before, *:after {
   box-sizing: border-box;
}

body {
   color: #333;
}

ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

h1, h2, h3, h4, h5, p {
   margin: 0;
   padding: 0;
}

.do-flex {
   display: flex;
}

.App {
   grid-template-columns: 1fr;
   // background: #fff;
   // transition: background .3s ease-in-out;
}

// DARKMODE
.App .darkmode {
   background: $dark-background-dark;
}

.above-main {
   padding: 24px 16px;

   @media only screen and (min-width: 900px) {
      padding: 48px 80px 0;
      display: flex;
      justify-content: space-between;
   }
}

.sub-header-wrap {

}

.main {
   padding: 0 40px;
   @media only screen and (min-width: 700px) {
      padding: 0 18px;
   }

   @media only screen and (min-width: 900px) {
      padding: 0 40px;
   }

   // @media only screen and (min-width: 1024px) {
   //    padding: 0 40px;
   // }
}

.main-ul {
   @media only screen and (min-width: 700px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      // border: 2px solid blue;
   }
}
