$darkmode-background-dark: #202c36;
$darkmode-background-light: #2b3844;
$darkmode-text-color: #fff;
$text-color: #333;
$focus-red: #ed4337;
$black: #333;
$white: #fff;

// FIXED HEADER VARIABLES
// $sticky-above-main-margin-top: 80px;

@mixin focus-style {
   outline: 2px dotted $focus-red;
   outline-offset: 2px;
}
@mixin box-shadow-light {
   box-shadow: 0 0 5px 2px rgba(204, 204, 204, 0.7)
}
@mixin font-300 {
   font-family: 'Nunito Sans' sans-serif;
   font-weight: 300;
}
@mixin font-600 {
   font-family: 'Nunito Sans' sans-serif;
   font-weight: 600;
}
@mixin font-800 {
   font-family: 'Nunito Sans' sans-serif;
   font-weight: 800;
}

*, *:before, *:after {
   box-sizing: border-box;
}

body {
   color: #333;
}

ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

h1, h2, h3, h4, h5, p {
   margin: 0;
   padding: 0;
}

.do-flex {
   display: flex;
}

.App {
   background-color: $white;
}

.box-shadow {
   box-shadow: 0 2px 4px #ccc;
}

.above-main {
   padding: 24px 16px;

   @media only screen and (min-width: 900px) {
      padding: 48px 80px 0;
      display: flex;
      justify-content: space-between;
   }
}

.main {
   padding: 0 40px;
   @media only screen and (min-width: 700px) {
      padding: 0 18px;
   }

   @media only screen and (min-width: 900px) {
      padding: 0 40px;
   }
}

.main-ul {
   @media only screen and (min-width: 700px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
}

// STICKY POSITION STYLING
.sticky {
   .header {
      background: $white;
      z-index: 10;
      position: fixed;
      width: 100%;
   }
   .above-main {
      position: fixed;
      margin-top: 79px;
      background: $white;
      width: 100%;
      padding-bottom: 24px;
   }
   .main {
      padding-top: 287px;
      @media only screen and (min-width: 900px) {
         padding-top: 191px;
      }
   }
}


// DARKMODE
.App .darkmode {
   background-color: $darkmode-background-dark;
   .header {
      background: $darkmode-background-light;
      box-shadow: 0 2px 4px $darkmode-background-dark;
   }
   .above-main {
      background: $darkmode-background-dark;
   }
}
